.postWrapper {
    margin-bottom: 5px;
    margin-top : 5px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: lightgrey;
  
}

.toprow {
    color: #439aff;
    font-size: 16px;
}

.bottomrow {
   margin-bottom: 5px;
}
