.navpanel{
    height:100%;
    width: 100%;
    position:absolute; 
    background-image: "/bg.png";
}

@media only screen and (min-width: 600px) {
        
    .navpanel{
        padding: 50px;
        height: -moz-calc(100% - 60px);
        height: -webkit-calc(100% - 60px);
        height: calc(100% - 60px);
    }
}

.activecurie {
    background-color: #439aff !important;
}